body {
    background-color: white;
}

.obr {
    color: black;
}

header,footer {
    background-color: burlywood;
}

.nature{
    height: 200px;
    width: 200px;
    margin-top: 0px;
}

footer {
    color: white;
}

.btn {
    background-color: #8B4513;
    color: white;
}



.field {
    border-radius: 10px;
    border-color: brown;
}

.btncolor {
    border-radius: 10px;
    border-color: brown;
}

.nav-link {
    color: white;
    font-size: 20px;
}

h1 {
    color: white;
}

th, td, tbody {
    border: 1px solid black;
    
}
.choice {
    border-radius: 10px;
    border-color: brown;
}



